.board-page {
    margin-top: 30px;
    text-align: center;
}

.board-page .num {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    vertical-align: middle;
    line-height: 32px;
    text-align: center;
}

.board-page .num.on {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.board-page .num button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: inherit;
    text-align: center;
}

.board-page .btn {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}
