.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #452f17;
  color: white;
}

.MainTitle {
  text-decoration: none;
  color: #fff;
  font-family: 'Wolin';
  letter-spacing: 5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-self: left;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo{
  margin : 0px;
  width: 60px;
  height: 50px;
  gap: 0;
}
.Name{
  width: 100%;
  height: 50px;
}

@font-face {
  font-family: 'Wolin';
  src: url('../fonts/Wolin.TTF');
}

