.board-wrap {
    width: 1000px;
    margin: 25px auto;
}

.board-title {
    margin-bottom: 30px;
}

.btn-wrap {
    margin-top: 20px;
    text-align: center;
}

.btn-wrap .btn-list, .btn-wrap .btn-edit{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-left: 10px;
    text-decoration: none;
    color:#000;
}


.btn-wrap .btn-list {
    background-color: black;
    color: white;
}

.board-list {
    width: 100%;
    border-top: 2px solid #000;
}

.board-list > div {
    border-bottom: 1px solid #ddd;
    /* font-size: 0; */
}

.board-list > div.top {
    border-bottom: 1px solid #999;
}

.board-list > div:last-child {
    border-bottom: 1px solid black;
}

.board-list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    /* font-size: 1.2rem; */
}

.board-list > div.top > div {
    font-weight: 600;
}

.board-list .num {
    width: 10%;
}

.board-list .title {
    width: 60%;
    text-align: left;
}

.board-list .top .title {
    text-align: center;
}

.board-list .writer {
    width: 10%;
}
.board-list .date {
    width: 20%;
}

.board-page {
    margin-top: 30px;
    text-align: center;
}

.board-page .num {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    vertical-align: middle;
    line-height: 32px;
    text-align: center;
}

.board-page .num.on {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.board-page .num button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: inherit;
    text-align: center;
}


.board-page .btn, 
.board-page .num {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: middle;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.board-page .btn {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board-page .btn:first-child {
    border-left: 1px solid #ddd;
}

.title2 {
    text-decoration: none;
    color:#000;
}

.board-content {
    border: 2px solid black;
    min-height: 300px;
    border-left: none;
    border-right: none;
}

.info {
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    font-weight: 600;
}

.info dl dd, .info dl dt, .info dl{
    display: inline-block;
    margin: 0 10px;
    padding: 1px;
}

.info dl {
    border-right: 1px solid #999;
    padding-right: 15px;
}

.info dl:first-child {
    margin-left: 0;
}

.info dd {
    color:#888;
}

div.input-title {
    padding: 0 5px;
    border-top: 2px solid black;
}

.input-title dt, .input-title dd {
    display: inline-block;
}

.input-title dd {
    width: 60%;
}

.input-title dd input {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #f3f1f1;
}

textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: none;
    overflow: auto;
    outline: none;
}

