/* RegionSelector.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

.region-buttons, .district-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgray;
}

button#regionBtn:hover {
  background-color:aquamarine;
}

button.selected {
  background-color: blue;
  color: white;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}