/* SignIn.css */


.signup-container {
  max-width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  background-color: #FFE0B5;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #fbd9a9ed;
  font-weight: bold;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
